 {% from "partials/macro.html" import shows_links %}
<!-- Fixed navbar -->
 <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container-fluid">
         <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">Questions & Answers</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {{ shows_links(user,classActive) }}
        </div><!--/.nav-collapse -->
     </div>
 </nav>