{% macro shows_links(user,classActive) %}
<ul class="nav navbar-nav">
    <li class="{{ 'active' if request.path == url_for('index') or request.path == '/' }}"><a href="{{ url_for('index') }}">Home</a></li>
    {% if user and not user.admin and not user.expert %}
    <li class="{{ 'active' if request.path == url_for('ask') }}"><a href="{{ url_for('ask') }}">Ask Question</a></li>
    {% endif %}
    {% if user and user.expert%}
    <li class="{{ 'active' if request.path == url_for('unanswered') }}"><a href="{{ url_for('unanswered') }}">Answer Questions</a></li>
    {% endif %}
    {% if user and user.admin %}
    <li class="{{ 'active' if request.path == url_for('users_control') }}"><a href="{{ url_for('users_control') }}">User Setup</a></li>
    {% endif %}
</ul>
<ul class="nav navbar-nav navbar-right">
    {% if not user %}
    <li class="{{ 'active' if request.path == url_for('login') }}"><a href="{{ url_for('login') }}">Login</a></li>
    <li class="{{ 'active' if request.path == url_for('register') }}"><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
    {% if user %}
    <li style="background-color: crimson"><a href="{{ url_for('logout') }}">Logout</a></li>
    {% endif %}
  </ul>
{% endmacro %}
{% macro renderfield(field) %}
    <div class="form-group">
        <label for="{{ field.name }}" class="col-lg-2 control-label">{{ field.label.text }}</label>
        <div class="col-lg-10">
            {{ field(class_='form-control', **kwargs) | safe }}
            {% if field.errors %}
            <div>
                {% for error in field.errors %}
                <p class="text-danger text-uppercase">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
{% macro renderfield_password(field,errors) %}
    <div class="form-group">
        <label for="{{ field.name }}" class="col-lg-2 control-label">{{ field.label.text }}</label>
        <div class="col-lg-10">
            {{ field(class_='form-control',placeholder='Password', **kwargs) | safe }}
            {% if field.errors %}
            <div>
                {% for error in field.errors %}
                <p class="text-danger text-uppercase">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% if errors.error_password !='None' %}
                    <div class="form-group">
                         <div class="col-lg-10">
                            <p id="errorPassword" class="has-error text-danger text-uppercase"> {{ errors.error_password }}</p>
                        </div>
                    </div>
            {% endif %}
        </div>
    </div>
{% endmacro%}