{% extends 'layouts/index.html' %}
{% from "partials/macro.html" import renderfield %}

{% block title %} {{ super() }} Answer Question {% endblock %}

{% block content %}
      <div class="page-header">
        <h1>{{ question.question_text }}?</h1>
      </div>
      <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal" method="POST" action="{{ url_for('answers', question_id=question.id ) }}">
                <fieldset>
                 {{ form.csrf_token }}
                    {{ renderfield(form.answer_text, placeholder='Put the answer here!!') | safe }}
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
      </div>
{% endblock %}