{% extends 'layouts/index.html' %}
{% from "partials/macro.html" import renderfield %}

{% block title %} {{ super() }} Ask a Question {% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Ask A Question</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="well bs-component">
            <form class="form-horizontal" method="POST" action="{{ url_for('ask')}}">
              <fieldset>
                {{ form.csrf_token }}
                  {{ renderfield(form.question_text, placeholder='placez votre question ici!') | safe }}
                  {{ renderfield(form.expert_id) }}
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
              </fieldset>
            </form>
          </div>
        </div>
    </div>

{% endblock %}