{% extends 'layouts/index.html' %}
{% from "partials/macro.html" import renderfield, renderfield_password %}


{% block title %} {{ super() }} Login {% endblock %}

{% block content %}
     <div class="page-header">
        <h1>Login</h1>
     </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal" method="POST" action="{{ url_for('login') }}">
                <fieldset>
                    {{ form.csrf_token }}
                    {{ renderfield(form.email, placeholder='Email') | safe }}
                    {{ renderfield_password(form.password, errors) }}
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
        </div>
    </div>
{% endblock %}