{% extends 'layouts/index.html' %}
{% from "partials/macro.html" import renderfield %}

{% block title %} {{ super() }} Register {% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Register</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal" method="POST" action="{{ url_for('register') }}" name="register">
                <fieldset>
                    {{ form.csrf_token }}
                    {{ renderfield(form.name, placeholder='Username') | safe }}
                    {{ renderfield(form.email, placeholder='Email') | safe }}
                    {{ renderfield(form.password, placeholder='Password') | safe }}
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
        </div>
    </div>
{% endblock %}