{% extends 'layouts/index.html' %}

{% block title %} {{ super() }} Unsanswered Question {% endblock %}

{% block content %}
     <div class="page-header">
        <h1>Questions For You</h1>
      </div>
     <div class="row">
        <div class="col-lg-12">
          <div class="list-group">
              {% for question in questions %}
            <a href="{{ url_for('answers', question_id=question.id ) }}" class="list-group-item">
              <h4 class="list-group-item-heading">{{ question.question_text }}</h4>
              <p class="list-group-item-text">Asked by: {{ question.asker }}</p>
            </a>
              {% endfor %}
          </div>
        </div><!-- /.col-lg-12 -->
     </div>
{% endblock %}